.bluetopbar, .greentopbar, .redtopbar, .blacktopbar {
	margin: 0px auto;
	width: 808px;
	height: 100%;
	padding-left: 1px;
}

.blacktopbar {
	background: rgb(72, 72, 72);
}
.blackgradient, .blackgradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(to bottom, rgb(160, 160, 160), rgb(16, 16, 16));
	background:    -moz-linear-gradient(to bottom, rgb(160, 160, 160), rgb(16, 16, 16));
	background:     -ms-linear-gradient(to bottom, rgb(160, 160, 160), rgb(16, 16, 16));
	background:      -o-linear-gradient(to bottom, rgb(160, 160, 160), rgb(16, 16, 16));
	background:         linear-gradient(to bottom, rgb(160, 160, 160), rgb(16, 16, 16));
}
.blackgradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(to bottom, rgb(96, 96, 96), rgb(0, 0, 0));
	background:    -moz-linear-gradient(to bottom, rgb(96, 96, 96), rgb(0, 0, 0));
	background:     -ms-linear-gradient(to bottom, rgb(96, 96, 96), rgb(0, 0, 0));
	background:      -o-linear-gradient(to bottom, rgb(96, 96, 96), rgb(0, 0, 0));
	background:         linear-gradient(to bottom, rgb(96, 96, 96), rgb(0, 0, 0));
}

.redtopbar {
	background: rgb(192, 36, 36);
}
.redgradient, .redgradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(to bottom, rgb(255, 64, 64), rgb(160, 16, 16));
	background:    -moz-linear-gradient(to bottom, rgb(255, 64, 64), rgb(160, 16, 16));
	background:     -ms-linear-gradient(to bottom, rgb(255, 64, 64), rgb(160, 16, 16));
	background:      -o-linear-gradient(to bottom, rgb(255, 64, 64), rgb(160, 16, 16));
	background:         linear-gradient(to bottom, rgb(255, 64, 64), rgb(160, 16, 16));
}
.redgradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(to bottom, rgb(224, 32, 32), rgb(148, 0, 0));
	background:    -moz-linear-gradient(to bottom, rgb(224, 32, 32), rgb(148, 0, 0));
	background:     -ms-linear-gradient(to bottom, rgb(224, 32, 32), rgb(148, 0, 0));
	background:      -o-linear-gradient(to bottom, rgb(224, 32, 32), rgb(148, 0, 0));
	background:         linear-gradient(to bottom, rgb(224, 32, 32), rgb(148, 0, 0));
}

.greentopbar {
	background: rgb(36, 192, 36);
}
.greengradient, .greengradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(to bottom, rgb(64, 255, 64), rgb(16, 160, 16));
	background:    -moz-linear-gradient(to bottom, rgb(64, 255, 64), rgb(16, 160, 16));
	background:     -ms-linear-gradient(to bottom, rgb(64, 255, 64), rgb(16, 160, 16));
	background:      -o-linear-gradient(to bottom, rgb(64, 255, 64), rgb(16, 160, 16));
	background:         linear-gradient(to bottom, rgb(64, 255, 64), rgb(16, 160, 16));
}
.greengradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(to bottom, rgb(32, 224, 32), rgb(0, 128, 0));
	background:    -moz-linear-gradient(to bottom, rgb(32, 224, 32), rgb(0, 128, 0));
	background:     -ms-linear-gradient(to bottom, rgb(32, 224, 32), rgb(0, 128, 0));
	background:      -o-linear-gradient(to bottom, rgb(32, 224, 32), rgb(0, 128, 0));
	background:         linear-gradient(to bottom, rgb(32, 224, 32), rgb(0, 128, 0));
}

.bluetopbar {
	background: rgb(72, 72, 192);
}
.bluegradient, .bluegradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(to bottom, rgb(128, 128, 255), rgb(32, 32, 180));
	background:    -moz-linear-gradient(to bottom, rgb(128, 128, 255), rgb(32, 32, 180));
	background:     -ms-linear-gradient(to bottom, rgb(128, 128, 255), rgb(32, 32, 180));
	background:      -o-linear-gradient(to bottom, rgb(128, 128, 255), rgb(32, 32, 180));
	background:         linear-gradient(to bottom, rgb(128, 128, 255), rgb(32, 32, 180));
}
.bluegradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(to bottom, rgb(64, 64, 224), rgb(16, 16, 160));
	background:    -moz-linear-gradient(to bottom, rgb(64, 64, 224), rgb(16, 16, 160));
	background:     -ms-linear-gradient(to bottom, rgb(64, 64, 224), rgb(16, 16, 160));
	background:      -o-linear-gradient(to bottom, rgb(64, 64, 224), rgb(16, 16, 160));
	background:         linear-gradient(to bottom, rgb(64, 64, 224), rgb(16, 16, 160));
}

/*
.orangetopbar {
	background: rgb(208, 96, 0);
}
.orangegradient, .orangegradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(rgb(255, 192, 32), rgb(192, 96, 24));
	background:    -moz-linear-gradient(rgb(255, 192, 32), rgb(192, 96, 24));
	background:     -ms-linear-gradient(rgb(255, 192, 32), rgb(192, 96, 24));
	background:      -o-linear-gradient(rgb(255, 192, 32), rgb(192, 96, 24));
	background:         linear-gradient(rgb(255, 192, 32), rgb(192, 96, 24));
}
.orangegradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(rgb(224, 160, 16), rgb(128, 48, 0));
	background:    -moz-linear-gradient(rgb(224, 160, 16), rgb(128, 48, 0));
	background:     -ms-linear-gradient(rgb(224, 160, 16), rgb(128, 48, 0));
	background:      -o-linear-gradient(rgb(224, 160, 16), rgb(128, 48, 0));
	background:         linear-gradient(rgb(224, 160, 16), rgb(128, 48, 0));
}

.purpletopbar {
	background: rgb(144, 0, 172);
}
.purplegradient, .purplegradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(rgb(196, 0, 255), rgb(128, 0, 144));
	background:    -moz-linear-gradient(rgb(196, 0, 255), rgb(128, 0, 144));
	background:     -ms-linear-gradient(rgb(196, 0, 255), rgb(128, 0, 144));
	background:      -o-linear-gradient(rgb(196, 0, 255), rgb(128, 0, 144));
	background:         linear-gradient(rgb(196, 0, 255), rgb(128, 0, 144));
}
.purplegradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(rgb(160, 0, 192), rgb(72, 0, 96));
	background:    -moz-linear-gradient(rgb(160, 0, 192), rgb(72, 0, 96));
	background:     -ms-linear-gradient(rgb(160, 0, 192), rgb(72, 0, 96));
	background:      -o-linear-gradient(rgb(160, 0, 192), rgb(72, 0, 96));
	background:         linear-gradient(rgb(160, 0, 192), rgb(72, 0, 96));
}

.cyantopbar {
	background: rgb(0, 208, 208);
}
.cyangradient, .cyangradient_hover {
	background: rgb(128, 128, 128);
	background: -webkit-linear-gradient(rgb(0, 255, 255), rgb(0, 180, 180));
	background:    -moz-linear-gradient(rgb(0, 255, 255), rgb(0, 180, 180));
	background:     -ms-linear-gradient(rgb(0, 255, 255), rgb(0, 180, 180));
	background:      -o-linear-gradient(rgb(0, 255, 255), rgb(0, 180, 180));
	background:         linear-gradient(rgb(0, 255, 255), rgb(0, 180, 180));
}
.cyangradient_hover:hover {
	background: rgb(0, 0, 0);
	background: -webkit-linear-gradient(rgb(0, 224, 224), rgb(0, 160, 160));
	background:    -moz-linear-gradient(rgb(0, 224, 224), rgb(0, 160, 160));
	background:     -ms-linear-gradient(rgb(0, 224, 224), rgb(0, 160, 160));
	background:      -o-linear-gradient(rgb(0, 224, 224), rgb(0, 160, 160));
	background:         linear-gradient(rgb(0, 224, 224), rgb(0, 160, 160));
}
*/
